<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Enregistré un nouveau livre</h2>
        
        
        <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" formControlName="title">
            </div>
            <div class="form-group">
                <label for="author">Auteur</label>
                <input id="author" class="form-control" type="text" formControlName="author">
            </div>
            
        
            <button type="submit" class="btn btn-succes" [disabled]='bookForm.invalid'>Enregistrer</button>
        </form>
        
        
    </div>
</div>
